@import "src/app/shared/styles/variables/colors";

.course-card {
  padding: 32px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  border-left: 8px solid $color-dark-gray;
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  min-height: 170px;
  width: 80vw;
  background-color: $color-white;

  &__description {
    flex: 2;

    &-title {
      font-weight: bold;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;

    &-text {
      margin-top: 16px;
    }
  }
}

.button-container {
  display: flex;
  gap: 10px; 
  align-items: center;
}

.user-actions {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 20px;
  font-size: 16px;
  color: #333;
}

button {
  background: #007298;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; // Full height of the viewport
  background-color: white; // White background
  position: fixed; // Fixed positioning to center in viewport
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; // Ensure it’s on top of other content
}

.dot {
  width: 15px; // Size of the dots
  height: 15px; // Size of the dots
  margin: 0 5px; // Space between dots
  border-radius: 50%; // Make them circular
  background-color: #007bff; // Dot color (change as needed)
  animation: dot-blink 1.2s infinite ease-in-out both; // Blink animation
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.1s; // Delay for the second dot
}

.dot:nth-child(3) {
  animation-delay: 0.2s; // Delay for the third dot
}

.dot:nth-child(4) {
  animation-delay: 0.3s; // Delay for the fourth dot
}

@keyframes dot-blink {
  0%, 20%, 100% {
    transform: scale(1); // Original size
  }
  10% {
    transform: scale(1.5); // Scale up for the blink effect
  }
}
